
/* Colours */

@color-black: #000;
@color-silver: #c0c0c0;
@color-white: #fff;

/* Families */

@font-family-thefontfamilyname: 'TheFontFamilyName', Arial, sans-serif;
@font-family-arial: Arial, sans-serif;
@font-family-verdana: Verdana, sans-serif;

/* Font Weight */

@font-weight-light: 200;
@font-weight-normal: 400;
@font-weight-bold: 700;

/* Fonts */

@font-face {
    font-family: 'TheFontFamilyName';
    src: url("/assets/fonts/thefontfamilyname.eot");
    src: local("☺"),
        url("/assets/fonts/thefontfamilyname.woff") format("woff"),
        url("/assets/fonts/thefontfamilyname.ttf") format("truetype"),
        url("/assets/fonts/thefontfamilyname.svg#webfontitAdEwxq") format("svg");
    font-weight: @font-weight-normal;
    font-style: normal;
}

/**
 * Example: 1.4em = 14px, 2.2em = 22px
 *
 * 62.5% allows you to easily use em's for font-sizing
 */

body {
    font: 62.5%/1 Arial, sans-serif;
}

/* Mixins */

// Clearfix
// For clearing floats like a boss h5bp.com/q
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.border-radius (@radius: 15px) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
         -o-border-radius: @radius;
            border-radius: @radius;
}