/****

  * Filename: style.css
  * Website: http://
  * Author: J&oslash;rgen Mortensen
  * Author URI: http://www.jorgenmortensen.eu
  * Date: 20/01/2012
  * Version: 1.0

****/

@import "../less/reset.less";
@import "../less/main.less";
@import "../less/media-queries.less";

/* Headings
   ========================================================================== */

h1 {

}

h2 {

}

h3 {

}

/* Table
   ========================================================================== */

table {

}

th {

}

td {

}

/* Lists
   ========================================================================== */

ol {

    li {

    }
}

ul {

    li {

    }
}